body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

main, .content, .col-left, .col-right, footer {
    background-color: black;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.content {
    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
}

.col-left, .col-right {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
}

button {
    background-color: black; /* Change button background color to black */
    color: white;
    border: 1px solid white;
    margin: 5px;
    padding: 10px;
}

button:hover {
    background-color: #333; /* Change hover background color as desired */
}
